@import "./wrexa-extension/wrexa-variables";

.dashboard-nav {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.dashboard-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.nav-collapse {
    width: 80px;
}

.dashboard-nav.nav-collapse .nav-item .label {
    display: none;
}

.dashboard-nav .nav-item a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dashboard-nav.nav-collapse .nav-item a {
    display: inline-block;
}

.dashboard-content {
    width: calc(100% - 200px);
    min-height: 100vh;
    margin-left: 200px;
    background-color: $gray-100;
    position: relative;
}

.dashboard-collapse-content {
    width: calc(100% - 80px);
    margin-left: 80px;
}

.component {
    padding: 0.5rem 1.5rem;
    border: none;
    border-left: 5px solid white;
    min-height: calc(1rem + 0.5rem);
    position: relative;
}

.component:hover {
    border-color: $primary;
}

.component .menu {
    display: none;
    position: absolute;
    top: 0.49rem;
    right: 1rem;
    background-color: white;
}

.component:hover .menu {
    display: flex;
}

.component .menu span {
    display: block;
    padding: 5px;
    cursor: pointer;
}

.component .menu span:hover {
    background-color: $gray-300;
}

.dashboard-container {
    padding: 3rem 0;
}

#components-container {
    background-color: white;
    padding: 4rem 2rem;
    min-height: 80vh;
}

#page-prev-icon {
    left: 1rem;
}

#page-next-icon {
    right: 1rem;
}

.page-navigate-icon {
    position: absolute;
    height: 45px;
    width: 25px;
    top: 50%;
}

.page-title-container {
    padding: 0 1.5rem;
}

#page-title {
    padding: 0.5rem;
}

.page-title-container .row {
    padding-left: 0.75rem;
    color: $gray-400;
    font-size: smaller;
}

.page-title-container .row div {
    padding-left: 0.75rem;
    padding: 0.5rem;
    color: $gray-400;
    font-size: smaller;
}

[contenteditable] {
    padding: 0.5rem;
}

[contenteditable]:focus {
    outline: 1px solid $primary;
}

[contenteditable]:empty:before {
    content: attr(data-placeholder);
}

#bread-crumb {
    position: relative;
    left: 1rem;
}

.dashboard-menu {
    border-right: 4px solid transparent;
}

.dashboard-menu.active {
    border-right: 4px solid $success;
}

.meta-data {
    font-size: 0.8rem;
}

.board-container {
    display: flex;
}

.board-column {
    display: inline-block;
    padding: 1rem;
}

.list-card {
    height: 600px;
}

.list-card > .card-body {
    height: 550px;
    overflow-y: auto;
}

.entry-menu-container {
    position: relative;
}

.entry-menu-container.collapsed .entry-menu {
    display: none;
}

.entry-menu {
    position: absolute;
    right: 20px;
    top: 0px;
    background-color: $gray-100;
    z-index: 100;
}

.entry-menu .btn-dark {
    width: 100%;
}

.btn-dark:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.scribble-welcome{
    animation: movedown 1s linear 1;
    animation-delay:1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes movedown{
    0%{
        transform: translateY(-100px);
        visibility:visible;
    }

    100%{
        transform: translateY(0);
        visibility: visible;
    }
}

.choose-plan{
    animation: move_right 1s linear 1;
    animation-delay:1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes move_right{
    0%{
        transform: translateX(-50px);
        visibility:visible;
    }

    100%{
        transform: translateX(0);
        visibility: visible;
    }
}

.feature-animate{
    animation: zoomin 0.5s linear 1;
    animation-delay:0s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes zoomin{
    0%{
        transform: scale(0.5);
        visibility:visible;
    }

    100%{
        transform: scale(1);
        visibility: visible;
    }
}

